
 <!--index-->
  p {
   font-family: 'ArchitectsDaughterRegular';
   font-weight: normal;
   font-style: normal;
   color: #994d00;
  text-align: center;
} 
  #nachalo {
  color: #996600;
  font-size:3vw; 
  }
  body { 
  background-color: #fff2e6;
  }
   h1 {
  color: #994d00;
  text-align: center;
  }
   p {
  color: #805500;
  font-size:3vw;
  }
  
  #tablica:link, #tablica:visited {
  background-color: white;
  color: black;
  border: 1px solid green;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

  #tablica:hover, #tablica:active {
  background-color: green;
  color: white;
  }
  body { 
  background-color: #fff2e6;
  }
  h1 {
  color: #994d00;
  text-align: center;
  }
  h2 {
  border:2px solid DarkSalmon;
  color: #994d00;
  text-align: center;
  }
  ul {
  font-size:25px;
  border:2px solid Chocolate;
  color: #994d00;
  text-align: left;
  }
  img {
  width: 300px;
  }
  img {
  width: 200px;
  }
    
 <!--granada-->
  body { 
  background-color: #fff2e6;
  }
  h1 {
  color: #994d00;
  text-align: center;
  }
  img {
  width: 400px;
  opacity: 0.5 
  video {
  width: 320px;
    
  
 <!--sevilla--> 
  body { 
  background-color: #fff2e6;
  }
  h1 {
  color: #994d00;
  text-align: center;
  }
  img {
  width: 400px; 
 .beige {
  color: #996600;
  font-size:3vw;
  }
  
  
 <!--ronda-->
  body { 
  background-color: #fff2e6;
  }
   h1 {
  color: #994d00;
  text-align: center;
  }
   .p1 {
  color: #996600;
  font-size:3vw; 
  }
   .p2 {
  color: #805500;
  font-size:3vw; 
  }
   .p3 {
  color: #664400;
  font-size:3vw; 
  }
   img {
   width:400px;
  }
 
  