<nav class="demo imponent">
  		<a href="index.html" class="brand">
    		<img class="logo" src="favicon.ico" />
    		<span>Andalusia</span>	
    		</a>
	<input id="clickMenu" type="checkbox" class="show">
	<label for="clickMenu" class="burger pseudo button">Menu</label>

	<div class="menu">
		<a href="sevilla.html"
		    class="{% if page.name != 'sevilla.html' %}pseudo{% endif %} button">
		    Sevilla
		</a>
		<a href="ronda.html"
		    class="{% if page.name != 'ronda.html' %}pseudo{% endif %} button">
		    Ronda
		</a>
		<a href="granada.html"
		    class="{% if page.name != 'granada.html' %}pseudo{% endif %} button">
		    Granada
		</a>
	</div>
 </nav>   	
 
     		
     		