<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
		<link rel="stylesheet" href="https://fontlibrary.org//face/auca" type="text/css"/>
		<link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/bretan" type="text/css"/> 
		<link rel="stylesheet" href="design.css">
	</head>
	<body>
	  {{content}}
		 {% include navbar.html %}
    </body>
</html>
